body{
  background-repeat: no-repeat;
  background-size: cover;
}
.card{
  float: left;
  margin: 40px;
  height: 230px;
  width: 300px;
  font-family:'Times New Roman', Times, serif;
  font-size: large;
  background: rgba(247, 6, 38, 0.23);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.6px);
  -webkit-backdrop-filter: blur(4.6px);
  border: 1px solid rgba(237, 237, 237, 0.46);
  padding:30px;
}
.btn{
  color: white;
  background-color: #007fff;
  height: 30px;
  width: 10%;
  border: none;
  cursor: pointer;
}
.addcard{
  text-align: center;
  margin-top: 10px;
  height: 100%;
  width: 500px;
  background: white;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.6px);
  -webkit-backdrop-filter: blur(4.6px);
  border: 1px solid rgba(237, 237, 237, 0.46);
  padding: 20px;

}
input{
  height: 30px;
  width: 50%;
  border-radius: 25px;
  border: none;
  outline: none;
  margin: 10px;
  color: rgb(56, 55, 55);
  background-color: #d1d1d1;
}
.btn1{
  color: black;
  background-color: aliceblue;
  height: 30px;
  width: 80px;
  border: none;
  margin: 35px;
  cursor: pointer;
}
.fileupload{
  margin-top: 10%;
  padding: 5%;
  box-shadow: 0px 10px 30px rgba(0, 0, 0.0,5);
}