

.logo{
    border-radius: 500px;
    margin-left:97%;
    margin-top: -1.75%;
    display: block;
	transform: translate(-50%, -50%);
	position: absolute;
    height: 3%;
    width: 2.5%;
    display: inline-block;
    
}

li{
    cursor: pointer;
}
.postlabel{
    height:auto;
    display: flex;
    flex-direction: column;
    align-items:center ;
    width: 100vw;
}
.post{
    width: 100px;
    height: 150px;
    margin-top: 10px;
    border-radius: 0%;
}


